<!doctype html>
<html>
<head>
    <title>Image Processing</title>
</head>
<body>
    <h1>Upload Image</h1>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>

    {% if uploaded_filename %}
        <h2>Uploaded Image:</h2>
        <img src="{{ url_for('uploaded_file', filename=uploaded_filename) }}" width="300"><br>
        <h2>Processed Image:</h2>
        <img src="{{ url_for('output_file', filename=processed_filename) }}" width="300"><br>
        <h2>Prediction:</h2>
        <p>Predicted Class: {{ prediction }}</p>

    {% endif %}
</body>
</html>
